@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'curly';
    src: url('/Fonts/CurlyStars.ttf');
}

@font-face {
    font-family: 'sweet';
    src: url('/Fonts/Lucy Said Ok Personal Use.ttf');
}

@font-face {
    font-family: 'varsity';
    src: url('/Fonts/varsity_regular.ttf');
}

@font-face {
    font-family: 'organical';
    src: url('/Fonts/ORGANICAL PERSONAL USE.ttf');
}
.active{
    color:rgb(250, 171, 201);
    text-decoration: overline;
 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.color-scrollbar::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.412);
    width: 6px;
    scrollbar-arrow-color: white;

}
.color-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    height:2px
}
.color-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: pink;
    
}


/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}