@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'curly';
    src: url('public/Fonts/CurlyStars.ttf');
}

.active{
    color:rgb(250, 171, 201);
    text-decoration: overline;
 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}